<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Flaskbot</title>
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">		
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://th.bing.com/th/id/OIG.q32jGYxddjTb4tqPS4s0?w=270&h=270&c=6&r=0&o=5&pid=ImgGn" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>FlaskBot | Power by Microsoft/DialoGPT-medium</span>
                                <p>Ask me anything!</p>
                            </div>
                        </div>
                    </div>
                    <div id="messageFormeight" class="card-body msg_card_body">
                        <!-- Here will be the messages -->
                    </div>
                    <div class="card-footer">
                        <form id="messageArea" class="input-group">
                            <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
                            <div class="input-group-append">
                                <button type="submit" id="send" class="input-group-text send_btn"><i class="bi bi-send"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#messageArea").on("submit", function(event){
                const date = new Date();
                const str_time = date.getHours() +":"+ date.getMinutes();
                var user_msg = $("#text").val();
                var msg_history = ''+
                                '<div class="d-flex justify-content-end mb-4">'+
                                    '<div class="msg_cotainer_send">' 
                                        + user_msg + 
                                        '<span class="msg_time_send">'+ str_time +'</span>'+
                                    '</div>'+
                                    '<div class="img_cont_msg">'+
                                        '<img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg">'+
                                    '</div>'+
                                '</div>';
                $("#text").val("")
                $("#messageFormeight").append(msg_history);

                $.ajax({
                    data: {
                        msg: user_msg
                    },
                    type: "POST",
                    url: "/get-message"
                }).done(function(data) {
                    var bot_Response = ''+
                                    '<div class="d-flex justify-content-start mb-4">'+
                                        '<div class="img_cont_msg">'+
                                            '<img src="https://th.bing.com/th/id/OIG.q32jGYxddjTb4tqPS4s0?w=270&h=270&c=6&r=0&o=5&pid=ImgGn" class="rounded-circle user_img_msg">'+
                                        '</div>'+
                                        '<div class="msg_cotainer">' 
                                            + data + '<span class="msg_time">'+ str_time +'</span>'+
                                        '</div>'+
                                    '</div>';
                    $("#messageFormeight").append($.parseHTML(bot_Response));
                });
                event.preventDefault();
            })
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>